$sky-blue: #008bdb;
$white: #fff;

body{
    background: #f0f0f0;
}

header{
    background: $white;
}

.elipse{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skyButton{
    color: $white;
    background-color: $sky-blue;
    border-color: $sky-blue;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: $white;
}

.card{
    box-shadow: 2px 6px 13px 2px #6a6a6a54;
}

.searchspan {
    float: right;
    margin-right: 13px;
    margin-top: -27px;
    position: relative;
    color: #000;
    z-index: 1;
}

